{% load static %}

{% block body %}

{% include 'navigation.html' %}
<style>
.center{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	}


</style>


<div class="container-fliud" style="margin-top:0%">
    <img src="{% static 'images/ab.jpg' %}"  style="height:400px;width:1520px">
	<div class="center" ><h1 class="text-white font-weight-bold">About Us</h1>
	</div>
</div>
<hr>
<section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="{% static 'images/one.jpg' %}" alt="Image" class="img-fluid img-shadow">
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">JobBoard For Freelancers, Web Developers</h2>
            <p>We are passionate about connecting talented freelancers and web developers with the opportunities that can help them thrive. Whether you're an experienced full-stack developer, a creative front-end designer, or just starting your freelance journey, our platform is designed to make your job search easier, more efficient, and more rewarding.</p>
            <p>This call-to-action provides clear instructions on what the user needs to do, which is sign up to access the platform's benefits. You can customize the text and button design to make it more eye-catching or suited to your website’s style.</p>
          <a href="{% url 'latest_jobs' %}" class="btn btn-primary">Post a job</a>
		  </div>
        </div>
      </div>
    </section>

<div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            
                            <div class="support-caption">
                                <p>As a web designer, finding the right projects and clients can sometimes be overwhelming. That's why I turned to [Your Job Board Name]—a platform specifically designed to connect talented designers like me with high-quality job opportunities that align with my skills and career goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                            <img src="{% static 'images/two.jpg' %}" style="width=200%; margin-top:6%; height:500px;" alt=" ">
                    </div>
                </div>
            </div><hr>

                   
				
				<section class="site-section py-4">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-12 text-center mt-4 mb-5">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <h2 class="section-title mb-2">Company We've Helped</h2>
                <p class="lead">we’ve had the privilege of working with a diverse range of clients across various industries, providing innovative solutions to help them achieve their goals.</p>
              </div>
            </div>

          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_mailchimp.svg' %}" style="width=100%; margin-top:5%; height:100px;" alt="Image" class="img-fluid logo-1">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_paypal.svg' %}" style="width=100%; margin-top:5%; height:100px; border-radius:50%" alt="Image" class="img-fluid logo-2">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_stripe.svg' %}" style="width=100%; margin-top:5%; height:100px;" alt="Image" class="img-fluid logo-3">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_visa.svg' %}" style="width=100%; margin-top:5%; height:100px; border-radius:50%" alt="Image" class="img-fluid logo-4">
          </div>

          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_apple.svg' %}" style="width=100%; margin-top:5%; height:100px; border-radius:50%" alt="Image" class="img-fluid logo-5">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_tinder.svg' %}" style="width=100%; margin-top:5%; height:100px;" alt="Image" class="img-fluid logo-6">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_sony.svg' %}" style="width=100%; margin-top:5%; height:190px;" alt="Image" class="img-fluid logo-7">
          </div>
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{% static 'images/logo_airbnb.svg' %}" style="width=100%; margin-top:5%; height:100px;" alt="Image" class="img-fluid logo-8">
          </div>
        </div>
      </div>
    </section>
	
	<div class="bg-light pt-5 testimony-full" style="margin-top:0%">
        <div class="owl-carousel single-carousel">

          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center text-center text-lg-left">
                <blockquote>
                  <p>My experience with Google’s services has been incredibly smooth and efficient. From using Google Search for fast, accurate results to managing my emails with Gmail, I’ve found their tools to be incredibly reliable and user-friendly.</p>
                  <p><cite> &mdash; Chris Peters, @Google</cite></p>
                </blockquote>
              </div>
              <div class="col-lg-6 align-self-end text-center text-lg-right">
                <img src="{% static 'images/two.png' %}" alt="Image" class="img-fluid mb-0">
              </div>
            </div>
          </div>

      </div>
    </div>

{% include 'footer.html' %}
{% endblock %}